@media screen and (min-width: 951px){
  .rides-mobile-image {
    display: none;
  }
  .ride-mobile-title {
    display: none;
  }
} 

.rides-mobile-image{
  height: 40vh;
  width: 100vw;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.ride-mobile-title{
  margin-top: 4vh;
  text-align: center;
}

#hover:hover {
  opacity: 0.2;
}

#item-fade {
  background: black;
  opacity: 0.8;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}

@media screen and (max-width: 600px){
  .rides-mobile-image{
    height: 36vh;
  }
}

@media screen and (max-width: 480px){
  .rides-mobile-image{
    height: 33vh;
  }
}

@media screen and (max-width: 415px){
  .rides-mobile-image{
    height: 30vh;
  }
}

@media screen and (max-width: 370px){
  .rides-mobile-image{
    height: 28vh;
  }
}