@media screen and (min-width: 1091px){
  .mySwiper3{
    display: none;
  }

} 

.mySwiper3{
  margin-bottom: 5vh;
  height: 56vh;
  width: 95vw;
}

#MobileImage{
  height: 45vh;
}

.MobileText{
  background:rgba(241,245,246,1);
  height: 10vh;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}

@media screen and (max-width: 1000px){
  .mySwiper3{
    height: 54vh;
  }

  #MobileImage{
    height: 43vh;
  }
}

@media screen and (max-width: 900px){
  
  .mySwiper3{
    height: 52vh;
  }

  #MobileImage{
    height: 41vh;
  }
}

@media screen and (max-width: 815px){

  .mySwiper3{
    height: 49.5vh;
  }

  #MobileImage{
    height: 38vh;
  }
}
@media screen and (max-width: 750px){
  .mySwiper3{
    height: 51.5vh;
  }
  
  .MobileText{
    background:rgba(241,245,246,1);
    height: 12vh;
  }
}

@media screen and (max-width: 725px){
  .mySwiper3{
    height: 49vh;
  }

  #MobileImage{
    height: 36vh;
  }
}

@media screen and (max-width: 650px){
  
  .mySwiper3{
    height: 47vh;
  }

  #MobileImage{
    height: 34vh;
  }
}

@media screen and (max-width: 531px){
  .MobileText{
    background:rgba(241,245,246,1);
    height: 14vh;
  }

  .mySwiper3{
    height: 49vh;
  }
}

@media screen and (max-width: 490px){
 
  .mySwiper3{
    height: 46.4vh;
  }

  #MobileImage{
    height: 31vh;
  }
}

@media screen and (max-width: 420px){
  /* .mySwiper3{
    height: 46.4vh;
  } */

  #MobileImage{
    height: 29vh;
  }

  .MobileText{
    background:rgba(241,245,246,1);
    height: 16.5vh;
  }
}




