.display{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-evenly;
}

.spacing{
  align-items: center;
  margin-top: 18%;
  margin-bottom:0;
}

#size{
  height:420px;
  width:420px;
}


