.DivParks{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.card{
  height: 83vh;
  width: 30vw;
  flex-shrink: 1;
  margin-top: 10vh;
  margin-right: 1vw;
  margin-left: 1vw;
  margin-bottom: 5vw;
}

.card-title{
  margin-top: 1vh;
  text-align: center;
}
.card-text{
  margin-top: 3vh;
}

.imageTop{
  height: 60vh;
}


@media screen and (max-width: 1600px) {

  .card{
    height: 68vh;
  }

  .imageTop{
    height: 40vh;
  }
}

@media screen and (max-width: 1550px) {
  .imageTop{
    height: 38vh;
  }
}

@media screen and (max-width: 1260px) {

  .imageTop{
    height: 35vh;
  }
}

@media screen and (max-width: 1118px) {
  .DivParks {
    display:flex;
    flex-direction: column;
    align-items: center;
  }

  .card{
    height: 72vh;
    width: 50vw;
    margin-top: 5vh;
    margin-right: 2vw;
    margin-left: 2vw;
    margin-bottom: 2vh;
  }

  .imageTop{
    height: 50vh;
  }
}

@media screen and (max-width: 870px) {
  .card{
    height: 76vh;
  }
}

@media screen and (max-width: 800px) {
  .card{
    width: 60vw;
  }

  .imageTop{
    height: 52vh;
  }
}

@media screen and (max-width: 700px) {
  .card{
    width: 70vw;
    height: 75vh;
  }

  .imageTop{
    height: 52vh;
  }
}

@media screen and (max-width: 619px) {
  .card{
    width: 75vw;

  }

  .imageTop{
    height: 50vh;
  }
}

@media screen and (max-width: 578px) {
  .card{
    width: 80vw;
    height: 72vh;
  }

  .imageTop{
    height: 45vh;
  }
}

@media screen and (max-width: 440px) {
  .imageTop{
    height: 41vh;
  }

  .card{
    width: 90vw;
    height: 70vh;
  }
}

@media screen and (max-width: 360px) {
  .imageTop{
    height: 42vh;
  }

  .card{
    width: 95vw;
    height: 72vh;
  }
}
