.rides{
 height: 250px;
 width: 400px;
 margin-left: -.7vw;
 image-rendering: pixelated;
 image-rendering: auto;
 image-rendering: crisp-edges;
}


.row.no-gutters{
  border: 1px solid lightgray;
  margin-top: 2vh;
  margin-bottom: 2vh;
  margin-right: auto;
  margin-left: auto;
  width: 70%;
}

.card-title{
  text-align: center;
}

.card-text{
  text-align: center;
}

.text-center{
  align-items: center;
}





