.rides{
 height: 250px;
 width: 400px;
 margin-left: -.7vw;
 image-rendering: pixelated;
 image-rendering: auto;
 image-rendering: crisp-edges;
}


.row.no-gutters{
  border: 1px solid lightgray;
  margin-top: 2vh;
  margin-bottom: 2vh;
  margin-right: auto;
  margin-left: auto;
  width: 70%;
}

.ride-title{
  text-align: center;
}

.ride-text{
  text-align: center;
}

.text-center{
  align-items: center;
}



@media screen and (max-width: 1500px) {
  .row.no-gutters{ 
    width: 80%;
  }

  .ride-title{
    font-size: 20px;
  }
}

@media screen and (max-width: 1290px) {
  .rides{
    margin-left: -1vw;
  }
    
  .ride-title{
    margin-left: 11vw;
    font-size: 18px;
    font-weight: 600;
  }

  .ride-text{
    margin-left: 11vw;
  }

  .card-button{
    margin-left: 11vw;
  }
}

@media screen and (max-width: 990px){
  .ride-title{
    display: none;
  }
}

@media screen and (min-width: 991px){
  .alternateTitle{
    display: none;
  }
}

@media screen and (max-width: 990px){
  .alternateTitle{
    text-align: center;
    margin-top: 5vh;
  }

  .ride-text{
    margin-left: 10vw;
  }

  .card-button{
    margin-left: 10vw;
  }

  .rides{
    height: 250px;
    width: 350px;
    margin-left: -1.2vw;
  } 
}

@media screen and (max-width: 900px){
  .alternateTitle{
    text-align: center;
    margin-top: 5vh;
  }

  .ride-text{
    margin-left: 20vw;
  }

  .card-button{
    margin-left: 20vw;
  }

  .rides{
    height: 250px;
    width: 350px;
    margin-left: -1.4vw;
  } 
}

@media screen and (max-width: 767px){
  
  .no-gutters {
    display: none;
  }
  
  .g-0{
    display: none;
  }

  .rides{
    height: 35vh;
    width: 82.6vw;
    margin-left: -1.4vw;
  } 

  .ride-text{
    margin-left: 0;
  }

  #card-text2{
    margin-top: 0;
  }

  .card-button{
    margin: 0;
  }
}

@media screen and (max-width: 580px){

  .rides{
    margin-left: -1.9vw;
    width: 83.35vw;
  }
}

@media screen and (max-width: 460px){
  .rides{
    margin-left: -2.5vw;
    width: 84.5vw;
    height:30vh;
  }
}

