.rides{
 height: 250px;
 width: 400px;
 margin-left: -.7vw;
 image-rendering: pixelated;
 image-rendering: auto;
 image-rendering: crisp-edges;
}

.row .g-0{
  margin-right:10vw;
}


.row.no-gutters{
  border: 1px solid lightgray;
  margin-top: 2vh;
  margin-bottom: 2vh;
  margin-right: auto;
  margin-left: auto;
  width: 70%;
}

.ride-title{
  text-align: center;
}

.ride-text{
  text-align: center;
}

.text-center{
  align-items: center;
}

.card-body2{
  margin-top: 5vh;
}



@media screen and (max-width: 1500px) {
  .row.no-gutters{ 
    width: 80%;
  }

  .ride-title{
    font-size: 20px;
  }
}

@media screen and (max-width: 1290px) {
  .rides{
    margin-left: -1vw;
  }
    
  .ride-title{
    margin-left: 11vw;
    font-size: 18px;
    font-weight: 600;
  }

  .ride-text{
    margin-left: 11vw;
  }

  .card-button{
    margin-left: 11vw;
  }
}

@media screen and (max-width: 990px){
  .ride-title{
    display: none;
  }

  .card-body2{
    margin-top: 7vh;
  }
}

@media screen and (min-width: 991px){
  .alternateTitle{
    display: none;
  }
}

@media screen and (max-width: 990px){
  .alternateTitle{
    text-align: center;
    margin-top: 5vh;
  }

  .ride-text{
    margin-left: 10vw;
  }

  .card-button{
    margin-left: 10vw;
  }

  .rides{
    height: 250px;
    width: 350px;
    margin-left: -1.2vw;
  } 
}

@media screen and (max-width: 900px){
  .alternateTitle{
    text-align: center;
    margin-top: 5vh;
  }

  .ride-text{
    margin-left: 20vw;
  }

  .card-button{
    margin-left: 20vw;
  }

  .rides{
    height: 250px;
    width: 350px;
    margin-left: -1.4vw;
  } 
}

@media screen and (max-width: 768px){
  .row .no-gutters{
    width: 95vw;
    margin-right: auto;
    margin-left: auto;
    flex-wrap: nowrap;
  }

  .card-body2{
    margin-top: 4vh;
    width: 40vw;
    position: relative;
    left: 800px;
  }

  .ride-text{
    margin-left: 0;
  }

  .card-button{
    margin-left: 0;
  }

  .rides{
    margin-left: -2.7vw;
    height: 25vh;
    width: 35vw;
  }

  .col-md-8{
    position: relative;
    right:680px;
    margin-right:auto;
    margin-left:auto;
  }

  .card-button{
    height:5vh;
    width: 20vw;
  }
}

@media screen and (max-width: 767px){
  .col-md-8{
    position: relative;
    right:680px;
    padding:0;
  }

  .card-button{
    position: relative;
    right: 0;
  }

  .rides{
    width: 34vw;
  }

  .card-body2{
    width: 40vw;
    position: relative;
    left: 350px;
  }

  .row .g-0{
    /* margin-right: 4vw; */
  }
}

@media screen and (max-width: 725px){
  .card-button{
    width: 25vw;
  }

  .alternateTitle{
    font-size: 22px;
  }
}

@media screen and (max-width: 680px){
  .card-body2{
    width: 40vw;
    position: relative;
    left: 400px;
  }
}

@media screen and (max-width: 580px){
  .card-button{
    width: 30vw;
  }

  .alternateTitle{
    font-size: 20px;
  }

  .rides{
    height: 22vh;
    width: 32vw;
  }

  .card-body2{
    margin-top: 2vh;
  }

}

@media screen and (max-width: 550px){
  .card-body2{
    position: relative;
    left: 450px;
  }

  .alternateTitle{
    font-size: 17px;
  }
}

@media screen and (max-width: 490px){
  .card-button{
    width: 35vw;
  }

  .card-body2{
    width: 50vw;
  }

  .rides{
    height: 21vh;
    width: 30vw;
  }
}

@media screen and (max-width: 456px){
  .alternateTitle{
    font-size: 15px;
    font-weight: 700;
  }
}

@media screen and (max-width: 430px){
  .col-md-8{
    position: relative;
    right:360px;
    width: 25%;
    padding:0;
  }

  .card-body2{
    position: relative;
    left: 130px;
  }

  .alternateTitle{
    font-size: 14px;
    font-weight: 700;
  }
}

@media screen and (max-width: 415px){
  
  .card-button{
    width: 40vw;
  }

  .card-body2{
    margin-top: 2vh;
  }

  .rides{
    height: 20.8vh;
    width: 37vw;
  }

  .card-body2{
    position: relative;
    left: 170px;
  }
}

@media screen and (max-width: 414px){
  .rides{
    margin-left: -11.9px;
  }
}

@media screen and (max-width: 400px){
  .alternateTitle{
    font-size: 13px;
    font-weight: 800;
  }
}

@media screen and (max-width: 392px){
  .card-body2{
    width: 55vw;
  }
}

@media screen and (max-width: 380px){
  .alternateTitle{
    font-size: 12px;
    font-weight: 800;
  }
}

@media screen and (max-width: 367px){
  .card-button{
    width: 43vw;
  }
}

@media screen and (max-width: 360px){
  .rides{
    margin-left: -12.1px;
    height: 20.8vh;
    width: 37vw;
  }

  .col-md-8{
    position: relative;
    right:260px;
    width: 25%;
    padding:0;
  }

  .card-body2{
    position: relative;
    left: 70px;
  }
}