#EpcotGallery-Img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block; 
}

.EpcotContainer {
  row-gap: 0;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.EpcotGallery {
  display: table;
  display: grid;
  grid-auto-flow: dense;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: repeat(51, 5vw);
  grid-template-areas: 
  ". . . . . . . . . . ."
  ". a a a a a b b b b ."
  ". a a a a a b b b b ."
  ". a a a a a b b b b ."
  ". a a a a a b b b b ."
  ". . . . . . . . . . ."
  ". d d d d c c c c c ."
  ". d d d d c c c c c ."
  ". d d d d c c c c c ."
  ". d d d d c c c c c ."
  ". . . . . . . . . . ."
  ". e e e e e f f f f ."
  ". e e e e e f f f f ."
  ". e e e e e f f f f ."
  ". e e e e e f f f f ."
  ". . . . . . . . . . ."
  ". h h h h g g g g g ."
  ". h h h h g g g g g ."
  ". h h h h g g g g g ."
  ". h h h h g g g g g ."
  ". . . . . . . . . . ."
  ". i i i i i j j j j ."
  ". i i i i i j j j j ."
  ". i i i i i j j j j ."
  ". i i i i i j j j j ."
  ". . . . . . . . . . ."
  ". l l l l k k k k k ."
  ". l l l l k k k k k ."
  ". l l l l k k k k k ."
  ". l l l l k k k k k ."
  ". . . . . . . . . . ."
  ". m m m m m n n n n ."
  ". m m m m m n n n n ."
  ". m m m m m n n n n ."
  ". m m m m m n n n n ."
  ". . . . . . . . . . ."
  ". o o o o p p p p p ."
  ". o o o o p p p p p ."
  ". o o o o p p p p p ."
  ". o o o o p p p p p ."
  ". . . . . . . . . . ."
  ". q q q q q r r r r ."
  ". q q q q q r r r r ."
  ". q q q q q r r r r ."
  ". q q q q q r r r r ."
  ". . . . . . . . . . ."
  ". s s s s t t t t t ."
  ". s s s s t t t t t ."
  ". s s s s t t t t t ."
  ". s s s s t t t t t ."
  ". . . . . . . . . . ."
}

#EpcotGallery-Item1 {
  grid-area: a;
  border: 3px solid black;
  margin: 0;
}

#EpcotGallery-Item2 {
  grid-area: b;
  background:rgba(241,245,246,1);
  color: black;
  margin: 0;
} 

#EpcotGallery-Item3 {
  grid-area: c;
  border: 3px solid black;
  margin: 0;
} 

#EpcotGallery-Item4 {
  grid-area: d;
  background: rgba(241,245,246,1);
  margin: 0;
} 

#EpcotGallery-Item5 {
  grid-area: e;
  border: 3px solid black;
  margin: 0;
}

#EpcotGallery-Item6 {
  grid-area: f;
  background: rgba(241,245,246,1);
  margin: 0;
}

#EpcotGallery-Item7 {
  grid-area: g;
  border: 3px solid black;
  margin: 0;
}

#EpcotGallery-Item8 {
  grid-area: h;
  background: rgba(241,245,246,1);
  margin: 0;
}

#EpcotGallery-Item9 {
  grid-area: i;
  border: 3px solid black;
  margin: 0;
}

#EpcotGallery-Item10 {
  grid-area: j;
  background: rgba(241,245,246,1);
  margin:0;
}

#EpcotGallery-Item11 {
  grid-area: k;
  border: 3px solid black;
  margin: 0;
}

#EpcotGallery-Item12 {
  grid-area: l;
  background: rgba(241,245,246,1);
  margin: 0;
}

#EpcotGallery-Item13 {
  grid-area: m;
  border: 3px solid black;
  margin: 0;
}

#EpcotGallery-Item14 {
  grid-area: n;
  background: rgba(241,245,246,1);
  margin: 0;
}

#EpcotGallery-Item15 {
  grid-area: p;
  border: 3px solid black;
  margin: 0;
}

#EpcotGallery-Item16 {
  grid-area: o;
  background: rgba(241,245,246,1);
  margin: 0;
}

#EpcotGallery-Item17 {
  grid-area: q;
  border: 3px solid black;
  margin: 0;
}

#EpcotGallery-Item18 {
  grid-area: r;
  background:rgba(241,245,246,1);
  margin: 0;
}

#EpcotGallery-Item19 {
  grid-area: t;
  border: 3px solid black;
  margin: 0;
}

#EpcotGallery-Item20 {
  grid-area: s;
  background: rgba(241,245,246,1);
  margin: 0;
}

.center{
  text-align: center;
  margin-top: 4%;
}

.text{
  margin-top: 4%;
  margin-left: 6%;
  margin-right:6%;
}

.line {
  margin:0;
}

@media only screen and (max-width: 1550px) {
  .text {
    font-size: 14px;
  }
}

@media only screen and (max-width: 1480px) {
  .center {
    font-size: 31px;
  }
}

@media only screen and (max-width: 1370px) {
  .text {
    font-size: 13px;
  }
}

@media only screen and (max-width: 1270px) {
  .text {
    font-size: 12px;
  }
}

@media only screen and (max-width: 1200px) {
  .text {
    font-size: 11px;
  }
  .center{
    font-size: 30px;
  }
}