#HollyGallery-Img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block; 
}

.HollyContainer {
  row-gap: 0;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.HollyGallery {
  display: table;
  display: grid;
  grid-auto-flow: dense;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(26, 5vw);
  grid-template-areas: 
  ". . . . . . . . . . . ."
  ". a a a a a . . . . . ."
  ". a a a a a . b b b b ."
  ". a a a a a . b b b b ."
  ". a a a a a . b b b b ."
  ". . . . . . . . . . . ."
  ". . . . . . c c c c c ."
  ". d d d d . c c c c c ."
  ". d d d d . c c c c c ."
  ". d d d d . c c c c c ."
  ". . . . . . . . . . . ."
  ". e e e e e . . . . . ."
  ". e e e e e . f f f f ."
  ". e e e e e . f f f f ."
  ". e e e e e . f f f f ."
  ". . . . . . . . . . . ."
  ". . . . . . g g g g g ."
  ". h h h h . g g g g g ."
  ". h h h h . g g g g g ."
  ". h h h h . g g g g g ."
  ". . . . . . . . . . . ."
  ". i i i i i . . . . . ."
  ". i i i i i . j j j j ."
  ". i i i i i . j j j j ."
  ". i i i i i . j j j j ."
  ". . . . . . . . . . . ."

}

#HollyGallery-Item1 {
  grid-area: a;
  border: 3px solid black;
  margin: 0;
}

#HollyGallery-Item2 {
  grid-area: b;
  color: black;
  margin: 0;
} 

#HollyGallery-Item3 {
  grid-area: c;
  border: 3px solid black;
  margin: 0;
} 

#HollyGallery-Item4 {
  grid-area: d;
  margin: 0;
} 

#HollyGallery-Item5 {
  grid-area: e;
  border: 3px solid black;
  margin: 0;
}

#HollyGallery-Item6 {
  grid-area: f;
  margin: 0;
}

#HollyGallery-Item7 {
  grid-area: g;
  border: 3px solid black;
  margin: 0;
}

#HollyGallery-Item8 {
  grid-area: h;
  margin: 0;
}

#HollyGallery-Item11 {
  grid-area: i;
  border: 3px solid black;
  margin: 0;
}

#HollyGallery-Item12 {
  grid-area: j;
  margin: 0;
}