  
  .form-group{
    width: 1300px;
    margin-left: 10%;
    margin-right: 10%;
  }

  .form-top-Login{
    margin-top: 3%;
  }

  .inlineTogether-Login{
    display: inline-block;
    padding: 9px;
    margin-bottom: 37vh;
  }

  .loginButton{
    margin-left: 10vw;
  }

  .danger{
    margin-left: 10vw;
  }

  html{
    color: none;
  }

