  .form-group{
    width: 1300px;
    margin-left: 10%;
    margin-right: 10%;
  }

  .form-top{
    margin-top: 3%;
  }

  .inlineTogether{
    display: inline-block;
    padding: 9px;
    margin-bottom: 0;
  }

  .loginButton{
    margin-left: 10vw;
  }

  html{
    color: none;
  }

