#MagicGallery-Img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block; 
}

.MagicContainer {
  row-gap: 0;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.MagicGallery {
  display: table;
  display: grid;
  grid-auto-flow: dense;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: repeat(26, 5vw);
  grid-template-areas: 
  ". . . . . . . . . . ."
  ". a a a a a b b b b ."
  ". a a a a a b b b b ."
  ". a a a a a b b b b ."
  ". a a a a a b b b b ."
  ". . . . . . . . . . ."
  ". d d d d c c c c c ."
  ". d d d d c c c c c ."
  ". d d d d c c c c c ."
  ". d d d d c c c c c ."
  ". . . . . . . . . . ."
  ". e e e e e f f f f ."
  ". e e e e e f f f f ."
  ". e e e e e f f f f ."
  ". e e e e e f f f f ."
  ". . . . . . . . . . ."
  ". h h h h g g g g g ."
  ". h h h h g g g g g ."
  ". h h h h g g g g g ."
  ". h h h h g g g g g ."
  ". . . . . . . . . . ."
  ". i i i i i j j j j ."
  ". i i i i i j j j j ."
  ". i i i i i j j j j ."
  ". i i i i i j j j j ."
  ". . . . . . . . . . ."
}

#MagicGallery-Item1 {
  grid-area: a;
  border: 3px solid black;
  margin: 0;
}

#MagicGallery-Item2 {
  grid-area: b;
  background: rgba(241,245,246,1);
  color: black;
  margin: 0;
} 

#MagicGallery-Item3 {
  grid-area: c;
  border: 3px solid black;
  margin: 0;
} 

#MagicGallery-Item4 {
  grid-area: d;
  background: rgba(241,245,246,1);
  margin: 0;
} 

#MagicGallery-Item5 {
  grid-area: e;
  border: 3px solid black;
  margin: 0;
}

#MagicGallery-Item6 {
  grid-area: f;
  background: rgba(241,245,246,1);
  margin: 0;
}

#MagicGallery-Item7 {
  grid-area: g;
  border: 3px solid black;
  margin: 0;
}

#MagicGallery-Item8 {
  grid-area: h;
  background: rgba(241,245,246,1);
  margin: 0;
}

#MagicGallery-Item9 {
  grid-area: i;
  border: 3px solid black;
  margin: 0;
}

#MagicGallery-Item10 {
  grid-area: j;
  background: rgba(241,245,246,1);
  margin:0;
}

.center{
  text-align: center;
  margin-top: 4%;
}

.text2{
  margin-top: 4%;
  margin-left: 6%;
  margin-right:6%;
}

.line {
  margin:0;
}

@media only screen and (max-width: 1450px) {
  .text2 {
    font-size: 14px;
  }
}

@media only screen and (max-width: 1300px) {
  .text2 {
    font-size: 13px;
  }
}

@media only screen and (max-width: 1090px) {
  
  .MagicGallery{
    display: none;
  }
  
  #MagicGallery-Item1{
    display: none;
  }
  
  #MagicGallery-Item2{
    display: none;
  }
  
  #MagicGallery-Item3{
    display: none;
  }
  
  #MagicGallery-Item4{
    display: none;
  }
  
  #MagicGallery-Item5{
    display: none;
  }
  
  #MagicGallery-Item6{
    display: none;
  }
  #MagicGallery-Item7{
    display: none;
  }
  #MagicGallery-Item8{
    display: none;
  }
  
  #MagicGallery-Item9{
    display: none;
  }

  #MagicGallery-Item10{
    display: none;
  }
}

