.display{
  display:flex;
  justify-content: center;
  background: rgb(49,0,221);
  background: linear-gradient(180deg, rgba(49,0,221,0.2458158263305322) 35%, rgba(241,245,246,1) 85%);
}

.background{
  background: rgb(11,199,236);
  background: linear-gradient(0deg, rgba(11,199,236,0.469625350140056) 35%, rgba(241,245,246,1) 75%);
}

.picture{
  height: 90vh;
  width: 45vw;
}

.inactiveLink{
  pointer-events: none;
  cursor: default;
}


