.display{
  display:flex;
  justify-content: center;
  background: rgb(49,0,221);
  background: linear-gradient(180deg, rgba(49,0,221,0.2458158263305322) 35%, rgba(241,245,246,1) 85%);
  border-bottom: 5px solid;
}

.background {
  background: rgb(11,199,236);
  background: linear-gradient(0deg, rgba(11,199,236,0.469625350140056) 35%, rgba(241,245,246,1) 75%);
}

.picture{
  height: 90vh;
  width: 45vw;
}

.inactiveLink{
  pointer-events: none;
  cursor: default;
}

.center4{
  text-align: center;
  margin-top: 4%;
}

@media screen and (max-width: 2000px){
  .picture{
    width: 49.583vw;
  }
}

@media screen and (max-width: 1900px){
  .picture{
    width: 54.166vw;
  }
}

@media screen and (max-width: 1800px){
  .picture{
    width: 58.749vw;
  }
}

@media screen and (max-width: 1700px){
  .picture{
    width: 63.332vw;
  }
}

@media screen and (max-width: 1600px){
  .picture{
    width: 67.915vw;
  }
}

@media screen and (max-width: 1500px){
  .picture{
    width: 72.498vw;
  }
}

@media screen and (max-width: 1400px){
  .picture{
    width: 77.081vw;
  }
}

@media screen and (max-width: 1300px){
  .picture{
    width: 81.664vw;
  }
}

@media screen and (max-width: 1200px){
  .picture{
    width: 81.664vw;
  }
}

@media screen and (max-width: 1100px){
  .picture{
    width: 90.83vw;
  }

  .center4{
    margin-top: 6%;
    margin-bottom: 4%;
  }
}

@media screen and (max-width: 1000px){
  .picture{
    width: 95.413vw;
  }
}

@media screen and (max-width: 900px){
  .picture{
    width: 100vw;
  }
}

@media screen and (max-width: 650px){
  .picture{
    height: 80vh;
  }
}

@media screen and (max-width: 600px){
  .picture{
    height: 78vh;
  }
}

@media screen and (max-width: 550px){
  .picture{
    height: 70vh;
  }
}

@media screen and (max-width: 480px){
  .picture{
    height: 66vh;
  }
}

@media screen and (max-width: 440px){
  .picture{
    height: 63vh;
  }
}

@media screen and (max-width: 420px){
  .picture{
    height: 60vh;
  }
}






