  .form-group{
    width: 80vw;
    margin-left: 10%;
    margin-right: 10%;
  }

  .margin-top-PhotoNew{
    margin-top: 3%;
  }

  .photoButton{
    margin-left: 10vw;
    margin-top: 1vh;
    margin-bottom: 50vh;
  }
