  .form-group{
    width: 1300px;
    margin-left: 10%;
    margin-right: 10%;
  }

  .height1{
    margin-left: 1%;
  }

  .margin-top1{
    margin-top: 3%;
  }

  .registerButton{
    margin-left: 10vw;
    margin-top: 1vh;
  }