.Background {
background-image: url("https://d1yjjnpx0p53s8.cloudfront.net/styles/logo-thumbnail/s3/0008/8036/brand.gif?itok=Enb-5Dqw");
background-repeat: no-repeat;
background-position: right; 
image-rendering: pixelated;
image-rendering: auto;
image-rendering: crisp-edges;
background-size: 200px 200px;
margin-right: 300px;
height: 800px;
}