  .form-group{
    width: 1300px;
    margin-left: 10%;
    margin-right: 10%;
  }

  .margin-top-Register{
    margin-top: 3%;
  }

  .registerButton{
    margin-left: 10vw;
    margin-top: 1vh;
    margin-bottom: 25vh;
  }

  #invalidCredentials{
    margin-top: 1vh;
    margin-bottom: 25vh;
  }