.swiper-container{
  width: 90%; 
  margin-top: 3%;
}

.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: 0;
}

.swiper-wrapper{
  height:250px;
}

.swiper-slide img{
  width: 100%;
  height: 90%;
  image-rendering: pixelated;
  image-rendering: auto;
  image-rendering: crisp-edges;
  -webkit-filter: brightness(120%); 
}

.zoom {
  transition: transform .2s; /* Animation */
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

.zoom:hover {
  transform: scale(1.1); 
}

.swiper-button-next, .swiper-button-prev{
  background: #F2F2F2;
}

@media screen and (max-width: 1700px) {
  .swiper-slide img{
    height: 200px;
  }

  .swiper-pagination {
    top: 200px
    }

    .swiper-container{
      width: 80%;
  }
}

@media screen and (max-width: 1090px){
  .swiper-pagination{
    display: none;
  }
}

@media screen and (min-width: 1701px) {
.swiper-pagination {
  bottom: -4px;
  }
}

@media screen and (max-width: 880px){

  .swiper-pagination {
    display: none;
  }

  .swiper-container{
    width: 60%;
    margin-bottom: 0;
  }
}

@media screen and (max-width: 550px){
  .swiper-container{
    width: 70%;
    margin-top: 3vh;
  }
}