.swiper-container{
  width:90%;
  margin-top: 3%;
}

.swiper-wrapper{
  height:250px;
}

.swiper-slide img{
  width: 100%;
  height: 90%;
  margin-top: 4.5%;
  image-rendering: pixelated;
  image-rendering: auto;
  image-rendering: crisp-edges;
  -webkit-filter: brightness(120%); 
}

.zoom {
  transition: transform .2s; /* Animation */
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

.zoom:hover {
  transform: scale(1.1); 
}



