
.navbar{
  width: 100%
}

.fontColorHeader{
  margin-right: 1vw;
  margin-left: 1vw;
  margin-top: 1vw;
  margin-bottom: 0;
  color: red;
}

.navbar-brand{
  width: 200px;
  height: 60px;
}

.nav-item{
  padding: 10px;
  font-size: 16px;
}


#navbarDropdown{
  color: #007BFF;
  padding: 10px;
}

li.dropdown-item{
  text-decoration: none;
}


a { 
  text-decoration: none
}

.dropdown-menu.show{
  position: relative;
  left: 15vw;
}

@media screen and (max-width: 1788px){
  .dropdown-menu.show{
    position: relative;
    left: 17.5vw;
  }
}

@media screen and (max-width: 1544px){
  .dropdown-menu.show{
    position: relative;
    left: 20.5vw;
  }
}

@media screen and (max-width: 1310px){
  .dropdown-menu.show{
    position: relative;
    left: 24.3vw;
  }
}

@media screen and (max-width: 1310px){
  .dropdown-menu.show{
    position: relative;
    left: 24.3vw;
  }
}

@media screen and (max-width: 1110px){
  .dropdown-menu.show{
    position: relative;
    left: 28.5vw;
  }
}

@media screen and (max-width: 991px){
  .navbar-brand{
    width:240px;
  }

  .dropdown-menu.show{
    position: relative;
    left: 0;
  }
}

  @media screen and (max-width: 750px){
    .fontColorHeader{
      font-size: 14px;
    }
  }

  @media screen and (max-width: 750px){
    .fontColorHeader{
      font-size: 14px;
    }

  } @media screen and (max-width: 670px){
    .fontColorHeader{
      font-size: 13px;
    }
  }

@media screen and (max-width: 625px){
  .fontColorHeader{
    font-size: 12px;
  }
}

@media screen and (max-width: 400px){
  .fontColorHeader{
    font-size: 11px;
  }
}

@media screen and (max-width: 385px){
  .fontColorHeader{
    font-size: 10.4px;
  }
}

@media screen and (max-width: 367px){
  .fontColorHeader{
    font-size: 10.2px;
  }
}