
.navbar{
  width: 100%
}

.fontColorHeader{
  color: red;
  text-align: center;
}

.navbar-brand{
  width: 200px;
  height: 60px;
}

.nav-item{
  padding: 10px;
  font-size: 16px;
}


#navbarDropdown{
  color: #007BFF;
  padding: 10px;
}

li.dropdown-item{
  text-decoration: none;
}


a { 
  text-decoration: none !important
}

.dropdown-menu.show{
  position: relative;
  left: 15vw;
}

@media screen and (max-width: 991px){
  .navbar-brand{
    width:240px;
  }
}
