.img-size{
  width: 100vw;
  height: 80vh;
  image-rendering: auto;
  image-rendering: crisp-edges;
  align-items: center;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
 }
 
 .carousel-control-next-icon {
   background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
 }

@media screen and (max-width: 1113px) {
 .carousel{
    margin-bottom: 5vh;
 } 
}

@media screen and (max-width: 700px) {
  .carousel{
    height: 60vh;
  } 

  .img-size{
    height: 60vh;
  }
 }

 @media screen and (max-width: 500px) {
  .carousel{
    height: 55vh;
  } 

  .img-size{
    height: 55vh;
  }
 }

 @media screen and (max-width: 500px) {
  .carousel{
    height: 50vh;
  } 

  .img-size{
    height: 50vh;
  }
 }
