
.navbar{
  width: 100%
}

.fontColorHeader{
  color: red;
  text-align: center;
}

.navbar-brand{
  width: 200px;
  height: 60px;
}

.nav-item{
  padding: 10px;
  font-size: 16px;
}


#navbarDropdown{
  color: #007BFF;
  padding: 10px;
}

li.dropdown-item{
  text-decoration: none;
}


a { 
  text-decoration: none !important
}

.dropdown-menu.show{
  position: relative;
  left: 15vw;
}

@media screen and (max-width: 1788px){
  .dropdown-menu.show{
    position: relative;
    left: 17.5vw;
  }
}

@media screen and (max-width: 1544px){
  .dropdown-menu.show{
    position: relative;
    left: 20.5vw;
  }
}

@media screen and (max-width: 1310px){
  .dropdown-menu.show{
    position: relative;
    left: 24.3vw;
  }
}

@media screen and (max-width: 1310px){
  .dropdown-menu.show{
    position: relative;
    left: 24.3vw;
  }
}

@media screen and (max-width: 1110px){
  .dropdown-menu.show{
    position: relative;
    left: 28.5vw;
  }
}

@media screen and (max-width: 991px){
  .navbar-brand{
    width:240px;
  }
}
