#CreditGallery-Img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block; 
}

.CreditContainer {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  background: #F4F4F4;
}

.CreditGallery {
  display: grid;
  grid-auto-flow: dense;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(6, 3vw);
  grid-template-areas: 
  
  ". . . . . . . . . . . . . . . ."
  ". . a a a a a a . s s s s s . ."
  ". . a a a a a a . s s s s s . ."
  ". . a a a a a a . s s s s s . ."
  ". . a a a a a a . s s s s s . ."
  ". . . . . . . . . . . . . . . ."
}

#CreditGallery-Item1 {
  grid-area: a;
}

#CreditGallery-Item2 {
  grid-area: s;
  position: relative;
  top: -5%;
} 

.height{
  margin-top: 3%;
}

.font1{
  font-size: 24px;
  font-family: Avenir, Helvetica, Arial, sans-serif;
}

.font2{
  font-size: 36px;
  font-family: Avenir, Helvetica, Arial, sans-serif;
}

.font3{
  font-size: 18px;
  font: Avenir, Helvetica, Arial, sans-serif;
}

@media screen and (max-width: 1873px) {
  .font1{
    font-size: 20px;
    font-family: Avenir, Helvetica, Arial, sans-serif;
  }
  .font2{
    font-size: 32px;
    font-family: Avenir, Helvetica, Arial, sans-serif;
  }
}

@media screen and (max-width: 1561px) {
  .font1{
    font-size: 18px;
    font-family: Avenir, Helvetica, Arial, sans-serif;
  }
  .font2{
    font-size: 30px;
    font-family: Avenir, Helvetica, Arial, sans-serif;
  }
  .font3{
    font-size: 16px;
    font: Avenir, Helvetica, Arial, sans-serif;
  }

  #CreditGallery-Item2 {
    grid-area: s;
    position: relative;
    top: -7%;
  } 
}

@media screen and (max-width: 1405px) {
  .font1{
    font-size: 16px;
    font-family: Avenir, Helvetica, Arial, sans-serif;
  }
  .font2{
    font-size: 28px;
    font-family: Avenir, Helvetica, Arial, sans-serif;
  }
  .font3{
    font-size: 15px;
    font: Avenir, Helvetica, Arial, sans-serif;
  }
}

@media screen and (max-width: 1350px) {
  
  #CreditGallery-Item2 {
    grid-area: s;
    position: relative;
    top: -9%;
  } 
}

@media screen and (max-width: 1250px) {
  
  #CreditGallery-Item2 {
    display: none;
  } 

  .CreditGallery {
    display: grid;
    grid-auto-flow: dense;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(6, 4.5vw);
    grid-template-areas: 
    
    ". . . . . . . . . . . . . . . ."
    ". . a a a a a a a a a a a a . ."
    ". . a a a a a a a a a a a a . ."
    ". . a a a a a a a a a a a a . ."
    ". . a a a a a a a a a a a a . ."
    ". . . . . . . . . . . . . . . ."
  }

  #CreditGallery-Item1 {
    grid-area: a;
    position: relative;
    top: 9%;
  }
}







