.Display{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
  padding:0;
  background: #F2F2F2;
}

.PhotoDetailGallery-Img {
  height: 100vh;
  width: 60vw;
  margin: 0;
  padding: 0;
}

.titleC{
  text-align: center;
  margin-top: 8%;
}

.bigger{
  width: 40%;
}

.fontsize5{
  font-size: 35px;
  margin-left: 8%;
  margin-top: 8%;
  margin-bottom: 2%;
}

.placement{
  margin-left: 8%;
  font-size: 25px;
}

.lastline{
  margin-left: 8%;
  font-size: 18px;
}

.fontsize4{
  font-size: 35px;
  margin-left: 8%;
  margin-top: 3%;
  margin-bottom: 2%;
}
